# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# MLflow temporary/local artifacts
mlruns/
mlruns_backup/

# Python packaging
build/
dist/
*.egg-info/

# Environment / secrets
.env
.streamlit/secrets.toml